-- Optional column used by supplier product UI; PostgREST errors if app sends it but column is missing.
ALTER TABLE public.materials
  ADD COLUMN IF NOT EXISTS additional_images JSONB DEFAULT '[]'::jsonb;

COMMENT ON COLUMN public.materials.additional_images IS
  'Optional extra image URLs (angles); aligns with SupplierProductManager.';
