-- Fix delete failures: legacy "RLS_SECURE: Acknowledgement participants only" referenced
-- deliveries (alias d) / delivery_acknowledgements.delivery_id in ways that break DELETE
-- (e.g. column d.purchase_order_id does not exist). Drop it; admin RPC bypasses RLS for cleanup.

DROP POLICY IF EXISTS "RLS_SECURE: Acknowledgement participants only" ON public.delivery_acknowledgements;

CREATE OR REPLACE FUNCTION public.admin_delete_purchase_orders(_purchase_order_ids uuid[])
RETURNS integer
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  deleted_count integer := 0;
  dr_ids uuid[];
BEGIN
  IF auth.uid() IS NULL THEN
    RAISE EXCEPTION 'not authenticated';
  END IF;

  IF NOT public.is_super_admin(auth.uid()) THEN
    RAISE EXCEPTION 'not authorized';
  END IF;

  IF _purchase_order_ids IS NULL OR cardinality(_purchase_order_ids) = 0 THEN
    RETURN 0;
  END IF;

  -- Bypass RLS for this maintenance RPC (function owner must be able to set this; typically postgres on Supabase).
  PERFORM set_config('row_security', 'off', true);

  SELECT coalesce(array_agg(id), ARRAY[]::uuid[])
  INTO dr_ids
  FROM public.delivery_requests
  WHERE purchase_order_id = ANY (_purchase_order_ids);

  IF dr_ids IS NOT NULL AND cardinality(dr_ids) > 0 THEN
    BEGIN
      DELETE FROM public.tracking_numbers WHERE delivery_request_id = ANY (dr_ids);
    EXCEPTION
      WHEN undefined_table THEN NULL;
    END;
    BEGIN
      DELETE FROM public.tracking_numbers WHERE purchase_order_id = ANY (_purchase_order_ids);
    EXCEPTION
      WHEN undefined_table THEN NULL;
    END;
    BEGIN
      DELETE FROM public.delivery_tracking WHERE delivery_id = ANY (dr_ids);
    EXCEPTION
      WHEN undefined_table THEN NULL;
    END;
  END IF;

  BEGIN
    DELETE FROM public.order_status_history WHERE order_id = ANY (_purchase_order_ids);
  EXCEPTION
    WHEN undefined_table THEN NULL;
  END;

  DELETE FROM public.delivery_requests WHERE purchase_order_id = ANY (_purchase_order_ids);

  BEGIN
    DELETE FROM public.material_qr_codes WHERE purchase_order_id = ANY (_purchase_order_ids);
  EXCEPTION
    WHEN undefined_table THEN NULL;
  END;

  BEGIN
    DELETE FROM public.material_items WHERE purchase_order_id = ANY (_purchase_order_ids);
  EXCEPTION
    WHEN undefined_table THEN NULL;
  END;

  BEGIN
    DELETE FROM public.payment_info_access_log pil
    WHERE pil.acknowledgement_id IN (
      SELECT da.id
      FROM public.delivery_acknowledgements da
      INNER JOIN public.delivery_notes dn ON dn.id = da.delivery_note_id
      WHERE dn.purchase_order_id = ANY (_purchase_order_ids)
    );
  EXCEPTION
    WHEN undefined_table THEN NULL;
  END;

  DELETE FROM public.delivery_acknowledgements
  WHERE delivery_note_id IN (
    SELECT dn.id
    FROM public.delivery_notes dn
    WHERE dn.purchase_order_id = ANY (_purchase_order_ids)
  );

  BEGIN
    DELETE FROM public.delivery_notes WHERE purchase_order_id = ANY (_purchase_order_ids);
  EXCEPTION
    WHEN undefined_table THEN NULL;
  END;

  BEGIN
    DELETE FROM public.goods_received_notes WHERE purchase_order_id = ANY (_purchase_order_ids);
  EXCEPTION
    WHEN undefined_table THEN NULL;
  END;

  BEGIN
    UPDATE public.invoices SET purchase_order_id = NULL WHERE purchase_order_id = ANY (_purchase_order_ids);
  EXCEPTION
    WHEN undefined_table THEN NULL;
  END;

  BEGIN
    IF EXISTS (
      SELECT 1
      FROM information_schema.columns
      WHERE table_schema = 'public'
        AND table_name = 'notifications'
        AND column_name = 'related_id'
    ) THEN
      DELETE FROM public.notifications
      WHERE related_id = ANY (ARRAY(SELECT p::text FROM unnest(_purchase_order_ids) AS p));
    END IF;
  EXCEPTION
    WHEN OTHERS THEN
      RAISE NOTICE 'admin_delete_purchase_orders: skipped notifications: %', SQLERRM;
  END;

  DELETE FROM public.purchase_orders WHERE id = ANY (_purchase_order_ids);

  GET DIAGNOSTICS deleted_count = ROW_COUNT;
  RETURN deleted_count;
END;
$$;
