-- Idempotent parity for older projects that skipped 20260118 on public.materials.
ALTER TABLE public.materials
  ADD COLUMN IF NOT EXISTS pricing_type TEXT DEFAULT 'single';

ALTER TABLE public.materials
  ADD COLUMN IF NOT EXISTS variants JSONB DEFAULT '[]'::jsonb;

UPDATE public.materials
SET pricing_type = 'single'
WHERE pricing_type IS NULL;

COMMENT ON COLUMN public.materials.pricing_type IS 'single | variants (optional; admin_material_images may hold detail).';
COMMENT ON COLUMN public.materials.variants IS 'JSON variant rows when pricing_type = variants.';
