-- Align with 20251228_create_product_requests.sql for DBs created from 20251226 only.
ALTER TABLE public.product_requests
  ADD COLUMN IF NOT EXISTS updated_at TIMESTAMPTZ DEFAULT NOW();

COMMENT ON COLUMN public.product_requests.updated_at IS 'Last change to the request row.';
